---
layout: default
type: post
---

<div class="row">

  <div id="post" class="span8">
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date_to_string }}, 
      categories: {% for cat in page.categories %} {{ cat }} {% endfor %}</p>

    {{ content }}

    <p>another {{ site.url }}{{ site.baseurl }}{{ page.url }}</p>

    {% include comments.html %}

  </div>

  <div class="span4">




    <h3>Related posts</h3>

	<ul>
	  {% for post in site.related_posts %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

    <h3>All posts</h3>
	<ul>
	  {% for post in site.posts %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
  </div>


</div> <!-- row -->
